body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  /* The image used */
  background-image: url("../images/achtergronden/Achtergrond-hoofdmenu.jpg");


  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  font-family: 'Arial';
  margin-left: 0.05em;
  font-weight: bold;
}

a:hover {
  color: yellow;
}

.copyright {
  margin-top: 40%;
  font-family: 'Lucida Console';
  color: green;
  margin-left: 1px;

}
