body, html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  /* The image used */
  background-image: url("../images/achtergronden/Achtergrond-schrijfsels.jpg");


  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  font-family: 'Arial';
}

.terug {
  font-weight: bold;
}

a:hover {
  color: yellow;
}
